<settings>
    <servers>
        <server>
            <id>virtualcommons.internal</id>
            <username>mavendeploy</username>
            <password>an archiva password</password>
        </server>
        <server>
            <id>virtualcommons.snapshots</id>
            <username>mavendeploy</username>
            <password>an archiva password</password>
        </server>
    </servers>
</settings>
